.l-contentSolutions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('../../assets/img/blocks/contentSolutions/background.jpg');
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.b-contentSolutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1256px;
  box-sizing: border-box;
  padding: 160px 20px 165px 20px;
  margin: 0;

  &__title {
    color: $blackBg;
    margin: 0 0 16px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px 0;
  }

  &__text {
    color: $gray;
    width: 100%;
    max-width: 707px;
  }

  &__button {

  }

  &__slider {
    margin: 0 0 35px 0;
    padding: 0;
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: $blackBg;
    border-radius: 8px;
    padding: 20px;
    height: 400px;
    text-decoration: none;

    &:hover {


      .b-contentSolutions__slideArrow {
        path {
          stroke: white;
          transition: .3s;
        }
      }

      .b-contentSolutions__slideImg {
        transform: scale(0.8);
        transition: .3s;

        path {
          stroke: $darkGray;
          transition: .3s;
        }
      }

      .b-contentSolutions__slideTitle {
        color: $white;
        transition: .3s;
        margin: 0 0 72px 0;
      }

      .b-contentSolutions__slideText {
        opacity: 1;
        transition: .3s;
      }
    }
  }

  &__slideRow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__slideArrow {
    width: 100%;
    max-width: 18px;
    height: 100%;
    max-height: 18px;

    path {
      transition: .3s;
    }
  }

  &__slideImg {
    margin: auto 0;
    transition: .3s;

    path {
      transition: .3s;
    }
  }

  &__slideTitle {
    color: $gray;
    width: 100%;
    transition: .3s;
  }

  &__slideText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: $gray;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 245px;
    opacity: 0;
    transition: .3s;
  }

  /** SLider arrows **/

  &__sliderArrows {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
