.b-firstScreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;

  &__textSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__subtitle {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: $gray;
    padding: 0;
    margin: 0 0 8px 0;
  }

  &__title {
    font-family: $Stix;
    font-style: italic;
    font-weight: 500;
    font-size: 55px;
    line-height: 135%;
    color: $white;
    padding: 0;
    position: relative;
    margin: 0 0 16px 0;

    &::before {
      content: "";
      background-image: url('../../assets/img/blocks/firstScreen/Title quote.svg');
      background-repeat: no-repeat;
      display: block;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      padding: 0;
      margin: 0;
      width: 11px;
      height: 14px;
      position: absolute;
      top: 10px;
      left: -10px;
    }

    &::after {
      content: "";
      background-image: url('../../assets/img/blocks/firstScreen/Title quote.svg');
      background-repeat: no-repeat;
      display: block;
      padding: 0;
      margin: 0;
      width: 11px;
      height: 14px;
      position: absolute;
      right: 225px;
      top: 60%;
    }
  }

  &__text {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $gray;
    padding: 0;
    margin: 0 0 48px 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: $white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;

    &.-btnB {
      width: 100%;
      max-width: 300px;
      background: $red;
      padding: 24px 20px 23px 20px;
      border-radius: 50%;
      position: relative;

      &:hover {
        &::before {
          box-shadow: $white 0 0 1px 1px;
          transform: matrix(0.99, -0.11, 0.11, 0.99, 0, 0);
          transition: all .6s ease;
        }
      }

      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: all .6s ease;
      }
    }

    &.-btnAdv {
      color: $red;
      background: none;
      border: 1px solid $red;
      padding: 9px 21px 12px 22px;
      border-radius: 50%;
      position: relative;

      &:hover {
        &::after {
          right: -18px;
          transition: all .3s ease;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: -12px;
        background-image: url('../../assets/img/blocks/button/arrow.svg');
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 30px;
        height: 8px;
        transition: all .3s ease;
      }
    }
  }

  &__imgWrapper {
    position: relative;
    min-width: 514px;
    height: 513px;
    padding: 0;
    margin: 0;
  }

  &__img {
    position: absolute;
    width: 544px;
    height: 513px;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
  }
}
