.l-mainConsultation {
  width: max-content;
  height: max-content;
}
.b-mainConsultation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  height: 100%;

  &__number {
    padding: 0;
    margin: 0;
  }

  &__link {

  }
}
